<section class="flex flex-col items-center w-full h-screen">
  <div class="flex justify-between items-center w-full p-3 mt-16">
    <div class="flex flex-col gap-2">
      <h1 class="text-3xl text-white font-bold">Cartazes de Filmes</h1>
      <p class="text-xl text-zinc-400">Encontre cartazes exclusivos dos seus filmes favoritos</p>
    </div>
    <div class="flex justify-center items-center gap-2 bg-gray-800 rounded-md shadow px-2 py-2">
      <i class="fa-solid fa-magnifying-glass text-zinc-400"></i>
      <input 
        type="search" 
        placeholder="Pesquisar..." 
        class="flex-grow outline-none bg-transparent text-zinc-200 placeholder-zinc-400" 
      />
    </div>
  </div>
  <div class="w-full p-3">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 w-full">

      @for (movie of getMovies; track movie) {
        <div class="flex flex-col justify-end w-72 h-[500px] bg-gray-900 rounded-lg border border-gray-700">
          <div class="bg-gray-300 w-full h-full flex items-center justify-center overflow-hidden rounded-t-lg">
            <img 
              [src]="movie.image" 
              alt="" 
              class="w-full h-full object-cover"
            >
          </div>
          <div class="flex flex-col justify-between w-full min-h-36 p-3 gap-2">
            <div>
              <h3 class="text-lg text-white font-bold">{{movie.name}}</h3>
              <p class="text-zinc-500">{{movie.year}} • {{movie.category}}</p>
            </div>
            <div class="flex justify-between items-center">
              <h3 class="text-lg text-white font-bold">
                {{movie.assessment}}
                <i class="fa-solid fa-star text-yellow-300"></i>
              </h3>
              <button class="bg-red-500 p-1 text-white font-medium rounded-sm cursor-pointer hover:bg-red-700">
                Ver Detalhes
              </button>
            </div>
          </div>
        </div>
      }
      
    </div>
  </div>
</section>
